/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url(https://allfont.es/allfont.css?fonts=raleway-extrabold);

// ion-content {
//     --background: var(--ion-color-dark) 
// }
// ion-toolbar {
//     --background: var(--ion-color-dark);
//     --ion-text-color: #3880ff;
//     font-style: bold;
// }


@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/spotify-regular.ttf');
}

@font-face {
    font-family: 'Spotify';
    font-style: bold;
    src: url('assets/fonts/spotify-bold.ttf');
}

@font-face {
    font-family: 'Spotify';
    font-style: lighter;
    src: url('assets/fonts/spotify-light.ttf');
}

.toastAddFav{
    color: green;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.toastDeleteFav{
    color: red;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.errorValidation{
    color: red;
}

.precioDoradoRound{
    text-align: center; 
    height: 35px;
    width: 70px;
    border-radius: 50px;
    background-color: #f9af12;
    padding: 6px;
}

ion-header{
    --ion-background-color:rgb(0, 0, 0);
    
}

.fuenteCabezera{
    font-family: 'Spotify';
    src: url('assets/fonts/spotify-light.ttf');
    color:rgb(253, 255, 253);
    font-size: 24px;
}

ion-tabs{
    --ion-background-color:rgb(2, 5, 1);
}

ion-app{
    --ion-font-family: 'Spotify';
    --ion-src: url('assets/fonts/spotify-light.ttf');
}

ion-content{
    --ion-background-color:rgb(2, 5, 1);
    // background-color:rgb(2, 5, 1);
    
}
// ion-list{
//     --ion-background-color:rgba(2, 5, 1, 0.363);
// }
